<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/style.css" rel="stylesheet" type="text/css">
    <style>
        th{
            background-color: green;
        }
    </style>
</head>

<body>
    <h2>Personal Details</h2>
    <div>
        <table>
            <tr>
                <th>ID</th>
            <th>FirstName</th>
            <th>LastName</th>
            <TH>Email</TH>
            <TH>Age</TH>
            <th>Number</th>
            <th>Address</th>
            <th>Gender</th>
            <th>Hobby</th>

                </tr>
                <tr>
                    <td><%= data[0].id  %></td>
                    <td><%= data[0].fname  %></td>
                    <td><%= data[0].lname  %></td>
                    <td><%= data[0].email  %></td>
                    <td><%= data[0].age  %></td>
                    <td><%= data[0].mobile_no  %></td>
                    <td><%= data[0].address  %></td>
                    <td><%= data[0].Gender  %></td>
                    <td><%= data[0].Hobbies  %></td>
                </tr>

        </table>
        <!-- <a href="/deleteuser" name="<%= data[0].id  %>" value="deleteuser">Delete</a> -->
</body>
</html>